<a href="https://colab.research.google.com/github/drcruzm/cursoP/blob/master/workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducci√≥n

In [ ]:
segundos_dia = 24*60*60
segundos_dia

In [ ]:
seg_semana = segundos_dia*7
seg_semana

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

y = 200 + np.random.randn(100)
x = [x for x in range(len(y))]

plt.plot(x, y, '-') ;

In [ ]:
import numpy as np
np.mean(y)

In [ ]:
np.median(y)

In [ ]:
plt.hist(y, bins = 20) ;

In [ ]:
# cargamos los datos
from vega_datasets import data
import pandas as pd

cars = data.cars()
cars.head(2)

                        Name  Miles_per_Gallon  ...       Year  Origin
0  chevrolet chevelle malibu              18.0  ... 1970-01-01     USA
1          buick skylark 320              15.0  ... 1970-01-01     USA

[2 rows x 9 columns]

In [ ]:
# plot the dataset, referencing dataframe column names
import altair as alt
alt.Chart(cars).mark_bar().encode(
  x=alt.X('Miles_per_Gallon', bin=True),
  y='count()',
)

In [ ]:
cars[cars['Miles_per_Gallon'] < 15]

In [ ]:
cars[cars['Miles_per_Gallon'] > 30]

In [ ]:
cars['Name'].value_counts()

In [ ]:
cars[cars['Origin'].isin(['USA'])]

In [ ]:
cars[cars['Origin'].isin(['Europe'])]

In [ ]:
car = pd.read_csv('https://www.dropbox.com/s/j4zs2fhlq9hck2k/cars.csv?dl=1')
car.head(2)

   Unnamed: 0  price   brand  ...       state  country     condition
0           0   6300  toyota  ...  new jersey      usa  10 days left
1           1   2899    ford  ...   tennessee      usa   6 days left

[2 rows x 13 columns]

In [ ]:
car.head(3)

In [ ]:
boxplot = car.boxplot(column=['price'], figsize=(8, 7));

In [ ]:
car.head()
car['color'].value_counts()

In [ ]:
car['color'].value_counts().plot(kind='bar');

In [ ]:
car['brand'].value_counts().plot(kind='bar');

In [ ]:
car['brand'].value_counts().plot(kind='barh', figsize=(8, 7));

In [ ]:
import seaborn as sns

In [ ]:
sns.set_style('whitegrid')
#sns.countplot(y='year', data=car);
#sns.countplot(y='year', hue='title_status' , data= car);
sns.countplot(y='state', data=car);
sns.countplot(y='brand', hue='title_status', data=car);

In [ ]:
# sns.histplot(car['price'], color='darkred',bins=60);
sns.histplot(car['price'], palette= 'Set3', bins=40);

In [ ]:
plt.figure(figsize=(22,7));
sns.boxplot(x='brand', y='price',palette='winter',data=car);

In [ ]:
sns.boxplot(x='state', y='price', palette='winter', data=car);

In [ ]:
sns.kdeplot(car['year'],shade=True);

In [ ]:
sns.kdeplot(car['price'], shade=True);

In [ ]:
car['price'].describe()

In [ ]:
car['price'].hist(bins=15);

In [ ]:
cond = max(car['price'])
car['brand'] [car['price'] == cond]

In [ ]:
car.head(1)

In [ ]:
price = car.groupby('brand')['mileage'].min().reset_index()
price

In [ ]:
price_new = price.set_index('brand')
price_new
price_new.plot(kind='pie', y='mileage', figsize=(15, 20));

In [ ]:
price_new

In [ ]:
price_new2 = price_new.drop(['toyota'])
price_new2.plot(kind='pie', y='mileage', figsize=(15, 20));

In [ ]:
price = car.groupby('brand')['year'].max().reset_index()
price

In [ ]:
price = car.groupby('brand')['price'].max().reset_index()
price

In [ ]:
price.plot(kind='pie', y='price', figsize=(10, 10));

In [ ]:
price_new = price.set_index('brand')
price_new
price_new.plot(kind='pie', y='price', figsize=(15, 20));